@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Ubuntu:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    height: 100vh;
}

body {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Ubuntu', sans-serif;
    border-top-right-radius: 0.7vw;
    border-bottom-right-radius: 0.7vw;
    padding-left: 1vw;
    grid-area: nav;
}

nav a {
    color: rgb(255, 251, 231) !important;
    text-decoration: none;
}

#logo {
    font-size: 2vw;
    font-family: 'Silkscreen', sans-serif;
}

.menubtn {
    cursor: pointer;
    transition: 0.5s;
}

.menubtn:hover {
    font-size: 1.6vw;
}

.active {
    width: 16vw;
    background-color: white;
    color: black;
    transition: 0.8s;
}

#content {
    color: red !important;
    font-size: 100px;
    height: 100vh;
    width: 86vw;
}
